{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": "last 2 versions",
          "node": "current"
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/transform-react-constant-elements",
    "@babel/transform-react-inline-elements",
    "transform-react-remove-prop-types",
    "transform-react-pure-class-to-function",
    "@babel/transform-runtime"
  ]
}
